<div class="search">
 <input type="text" id="search-input" />
 <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
 <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
 <script>
   var client = algoliasearch("OLJQ7X6PWX", "9a3ee497a4a349d934cc4d974246fbf8")
   var index = client.initIndex('Golf');
   autocomplete('#search-input', {hint: false}, [
     {
       source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
       displayKey: 'my_attribute',
       templates: {
         suggestion: function(suggestion) {
           return suggestion._highlightResult.name.value+' - '+suggestion._highlightResult.country.value;
         }
       }
     }
   ]).on('autocomplete:selected', function(event, suggestion, dataset) {
     console.log(suggestion, dataset);
   });
 </script>
</div>

<div class="separator">
  <hr>
</div>

<div class="container">
  <div class="leftblock">
    <h2> Add a golf course:</h2>
    <%= form_for(@new_golf, url: root_path)  do |form| %>
    <form class="form">
      Course name:
      <br>
        <%= form.text_field :name, placeholder: "Pebble Beach" %>
      <br>
      Course Description:
      <br>
        <%= form.text_area :description, :size=>"50", placeholder: "Describe a few things you enjoyed about the course" %>
      <br>
      Course URL:
      <br>
        <%= form.url_field :url, placeholder: "https://www.pebblebeach.com", :size=>"30" %>
      <br>
      Course Country:
      <br>
        <%= form.text_field :country, placeholder: "USA" %>
      <br>
      <%= form.submit %>
      <% end %>
  </form>
  </div>


  <div class="rightblock">
    <h2> My golf courses:</h2>
    <table>
      <tr>
        <th>Course name</th>
        <th>Course description</th>
        <th>Course URL</th>
        <th>Course country</th>
      </tr>

      <% @golfs.each do |golf| %>
        <tr>
          <td><%= golf.name %></td>
          <td><%= golf.description %></td>
          <td><%= golf.url %></td>
          <td><%= golf.country %></td>
        </tr>
      <% end %>
    </table>
  </div>
